@media screen and (max-width:800px) {

}
@media screen and (max-width:640px) {
  header{
  	margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 768px){
	.modal-dialog{
		margin-top: 140px;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px){
	header{
		margin-bottom: 0;
	}
	.container{
		padding: 0 15px;
	}
	.header-center{
		text-align: center;
	}
	.header-center img{
		width: 15%;
		margin: 15px 0 0px 0px;
	}
	.header-center .search{
		line-height: 80px;
		width: 100%;
		margin-right: 0;
	}
	
	.tutor-content{
		margin-right: 0;
	}
	#dates > div > ul > li{
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
	.label-hp{
		margin-left: 15px;
	}
	#app{
		width:70%;
	}
	#calendar{
		height: 480px;
	}
	/*admin*/
	.header-up .login-admin a{
		margin-right: 10px;
	}
	.sidebar-left {
		display: block;
		width: 0;
		margin-left:-255px;
		z-index: 999;
		transition:0.6s;
	}
	.sidebar-left #close-menu{
		display: block;
	}
	.admin-right{
		display: block;
		width: 100%;
		position: absolute;
		top:45px;

	}
	.admin-right .bars{
		display: block;
		font-size: 20px;
		width: 20px;
		float: left;
	}
	.admin-right h3{
		margin: 0 0 30px 10px !important;
		float: left;	
		width: 80%;
	}
	.admin-right #dashboard{
		padding-top:0;
	}
	.admin-right #list-group h3{
		margin-top: -20px !important;
	}

	#add-meeting textarea{
		width: 100%;
	}
	.entry_details{
		height: 400px;
	}
	#entries{
		max-width: 100%;
	}
	#add_entry{
		height:500px;
	}
	.list-tutor, .dashboard-list, .recently-activity, .list-meeting, .list-issue, .create-form, .student-profile{
		padding-right: 0;
	}
	.create-form textarea{
		width: 100%;
	}
	.sidebar-right{
		padding:0 15px;
	}
	.create-form .upload__files1{
		padding-bottom: 10px;
	}
	.create-form .upload__files1 .preview1{
		margin: 10px 0 0 10px;
		width: 31%;
	}
	.left-card {
		margin: 0 0 15px 0;
	}
	.overlay p{
		margin-top: 30%;
	}
	#add-issue textarea{
		width: 100%;
	}

}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container{
		width: 100%;
	}
	.header-center img{
		width: 25%;
		margin: 15px 0 10px 35px;
	}
	.header-center .search{
		line-height: 120px;
	}
	#dates > div > ul > li{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	#calendar{
		height: 340px;
	}
	/*admin*/
	.header-up .login-admin a{
		margin-right: 10px;
	}
	.sidebar-left {
		display: block;
		width: 0;
		margin-left:-255px;
		z-index: 999;
		transition:0.6s;
	}
	.sidebar-left #close-menu{
		display: block;
	}
	.admin-right{
		display: block;
		width: 100%;
		position: absolute;
		top:45px;

	}
	.admin-right .bars{
		display: block;
		font-size: 20px;
		width: 20px;
		float: left;
	}
	.admin-right h3{
		margin: 0 0 30px 10px !important;
		float: left;	
		width: 80%;
	}
	.admin-right #dashboard{
		padding-top:0;
	}
	.admin-right #list-group h3{
		margin-top: -20px !important;
	}
	#add-meeting textarea{
		width: 70%;
	}
	.entry_details {
		height: 280px;
	}

	.entry_img{
		height: 200px;
	}
	.overlay{
		height: 200px;
	}
	.overlay p{
		margin-top: 30%;
	}
	.create-form textarea{
		width: 100%;
	}
	.create-form .upload__files1 .preview1{
		width: 30%;
		margin: 10px 0 0 10px;
	}
	.left-card {
		margin: 0 0 15px 0;
	}
	#add-issue textarea{
		width: 100%;
	}
    
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container{
		width: 100%;
	}
	.header-center img{
		width: 20%;
		margin: 25px 0 25px 35px;
	}
	.header-center .search{
		line-height: 150px;
	}
	.header-center .search button{
		line-height: 30px;
	}
	#dates > div > ul > li{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	#calendar{
		height: 350px;
	}
	.cell .main-statistic .left img{
		width: 40%;
	}
	.entry_details{
		height: 280px;
	}
	.entry_img{
		height: 200px;
	}
	.overlay{
		height: 200px;
	}

	.overlay p{
		margin-top: 30%;
	}
	.create-form .upload__files1{
		padding-bottom: 10px;
	}
	.create-form .upload__files1 .preview1{
		margin: 10px 0 0 10px;
	}
}	
@media screen and (min-width: 1400px) {
	.container {
    	width: 1400px;
 	}
}
@media screen and (min-width: 1200px) {
	.container {
    	width: 1180px;
 	}
}
@media screen and (max-width:480px) {
	header{
		margin-top: -20px;
	}
	.container{
		padding:0 15px;
	}
	.header-up span{
		margin-left: 15px;
	}
	.header-down{
		height: auto;
	}
	.header-down .left ul li{
		display: block;
	}
	.header-center{
		text-align: center;
	}
	.header-center img{
		margin: 15px 0 0 0;
	}
	.header-center .search{
		line-height: 80px;
		margin:0;
		text-align: center;
		float: none;
	}
	.header-down .left{
		width: 100%;
	}
	.header-down .left ul{
		padding-left: 0;
	}
	.header-down .left ul li a{
		padding-left: 20px;
	}
	.header-down .right{
		width: 100%;
		float: right;
		padding-left: 0px;
		margin-right: 0;
		padding:0;
	}
	.header-down .right .btn:active{
		background-color: #f7941d;
	}
	.header-down .notify{
		width: 100%;
		right: 0;
	}
	.banner{
		margin:0;
	}
	.home-body h1{
		text-align: center;
	}
	.tutor-content{
		margin-right: 0;
	}
	#chat-circle{
		width: 50px;
		height: 50px;
		right: 25px;
	}
	#chat-circle i{
		font-size: 30px;
		top: 13px;
	}
	.chat-box{
		right: 0;
		width: 100%;
	}
	#chatview{
		width: 100%;
	}
	#friendslist{
		width: 100%;
	}
	#chat-messages{
		width: 100%;
	}
	#sendmessage{
		width: 100%;
		border-top:1px solid #000;
	}
	#chat-messages label{
		width: 100%;
	}
	#app{
		padding: 0 10px;
	}
	/*admin*/
	.header-up .login-admin{
		width: 60%;
	}
	.header-up .login-admin ul{
		padding-left: 0px;
	}
	.header-up .login-admin a{
		padding: 0;
		margin-right: 10px;
	}
	.header-up .login-admin .fa-caret-down{
		margin-left: 5px;
	}
	.header-up .login-admin #drop-logout{
		padding-left: 10px;
	}
	.sidebar-left {
		display: block;
		width: 0;
		margin-left:-255px;
		z-index: 999;
		transition:0.6s;
	}
	.sidebar-left #close-menu{
		display: block;
	}
	.admin-right{
		display: block;
		width: 100%;
		position: absolute;
		top:45px;

	}
	.admin-right .bars{
		display: block;
		font-size: 20px;
		width: 20px;
		float: left;
	}
	.admin-right h3{
		margin: 0 0 30px 10px !important;
		float: left;
		width: 80%;	
	}
	.admin-right #dashboard{
		padding-top:0;
	}
	.admin-right #add-user textarea{
		width: 100%;
	}
	.admin-right #list-group h3{
		margin-top: -20px !important;
	}
	#add-meeting textarea{
		width: 100%;
	}
	#entries{
		max-width: 100%;
	}
	.create-form textarea{
		width: 100%;
	}
	.list-tutor, .dashboard-list, .recently-activity, .list-meeting, .list-issue, .create-form, .student-profile{
		padding-right: 0;
	}
	.sidebar-right{
		padding:0 10px;
	}
	.create-form .upload__files1{
		padding-bottom: 10px;
	}
	.create-form .upload__files1 .preview1{
		width: 45%;
		margin: 10px 0 0 13px;
	}
	.left-card{
		margin: 0 0 15px 0;
	}
	#add-issue textarea{
		width: 100%;
	}

}